.map-scroller {
    z-index: 100;
    height: 50vh;
}

#sticky {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48%;
    z-index: 50;
}

#container{
    height: 100%;
    overflow-y: scroll;
}

.panel {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.panel p {padding-right: 50%;}
.panel:last-child {padding-bottom: 45vh;}

.graticule {
    fill: none;
    stroke: #66941e;
    stroke-opacity: .5;
    stroke-width: .5px;
}

.land {
    fill: #7f528c;
}